<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" id="my-form">
      <table>
        <thead>
          <tr>
            <th>Column Name</th>
            <th>Data Type</th>
            <th>Allow Null</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" name="column-name" /></td>
            <td><input type="text" name="data-type" /></td>
            <td><input type="text" name="allow-null" /></td>
            <td><button id="add-row-button" type="button">+</button></td>
          </tr>
          <tr>
            <td><input type="text" name="column-name" /></td>
            <td><input type="text" name="data-type" /></td>
            <td><input type="text" name="allow-null" /></td>
            <td><button id="add-row-button" type="button">+</button></td>
          </tr>
        </tbody>
      </table>
      <button type="button" id="submit-button">Submit</button>
    </form>

    <script>
      let btn = document.querySelector('#submit-button')
      let addRowBtn = document.querySelector('add-row-button')
      let columnName = document.querySelector('#column-name')
      let dataType = document.querySelector('#data-type')
      let allowNull = document.querySelector('#allow-null')
      btn.addEventListener('click', function (e) {
        e.preventDefault()
        let obj = {}
        let form = new FormData(document.getElementById('my-form'))
        for (let [key, value] of form) {
          if (obj[key] !== undefined) {
            if (!Array.isArray(obj[key])) {
              obj[key] = [obj[key]]
            }
            obj[key].push(value)
          } else {
            obj[key] = value
          }
        }
        console.log(obj)
      })
      function makeSequelizeScript(columnName, dataType, allowNull) {
        console.log(columnName, dataType, allowNull)
        console.log(`
        ${columnName} : {
          type: Sequelize.${dataType.toUpperCase()}, 
          allowNull: ${allowNull ? true : false}
        } 
      `)
      }
    </script>
  </body>
</html>
