<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <script src="/script.js" defer></script>
  </head>
  <body>
    <!-- navbar section -->
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Shop</a>
          </li>
          <li>
            <a href="/products">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h3>This is home page</h3>
      <p>Welcome to shop!</p>

      <p>product -1</p>
      <p>product -2</p>
      <p>product -3</p>
    </main>
  </body>
</html>
