extends layout/header.pug

block content
        main 
            div 
                form(action="/products", method="POST")
                    label(for="product_name") Add product 
                    input(type="text" name="product_name", id="product_name")

                    button(type="submit") Add
                