doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        //- dynamic content add

        block styles 
    body    
        header
                nav
                    ul 
                        li 
                            a(href="/") Shop 
                        li 
                            a(href="/products") Add products 
        //- dynamic content add

        block content