extends layout/header.pug

block content
        main    
            h3 This is home page from pug
            p Welcome to shop! 

            each product in prods
                p #{product.product_name}
                p price: $20.00

