<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>

    <style>
      p span{
        font-weight: bold;
      }
      .home-heading{
        font-size: 2rem;
      }
      .shop-heading{
        font-size: 1.5rem;
        font-weight: bold;
      }
      .product-container{
        border: 2px solid black;
        width: 10rem;
        margin: 1rem;
        padding: 0.5rem;
      }
    </style>

  </head>

  <body>
    <!-- navbar section -->
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Shop</a>
          </li>
          <li>
            <a href="/admin/add-products">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h3 class="home-heading">This is home page</h3>
      <p class="shop-heading">Welcome to shop! (from ejs)</p>

      <% if(prods.length > 0) { %> 
        <% prods.map(el=>{ %>
          <div class="product-container">
            <p> <span>Title: </span> <%= el.title%></p>
            <p> <span>Price: </span> <%= el.price%> ₹</p>
            <a href="/products/:<%= el.id %>">
              <button>Details</button>
            </a>
            <button>Add to Cart</button>
          </div>
        <% }) %> 
      <% } %>
      
    </main>
  </body>
</html>
