doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
    body 
        header
            nav
                ul 
                    li 
                        a(href="/") Shop 
                    li 
                        a(href="/products") Add products 

        main    
            h3 This is home page from pug
            p Welcome to shop! 

            each product in prods
                p #{product.product_name}
                p price: $20.00

